/proj/Win32
/src/view/__history
/src/connection/__history
/src/model/__history
/src/repository/__history
/src/service/__history
.vscode/settings.json
proj/EasyCommerceDesktop.dproj.local
proj/EasyCommerceDesktop.identcache
proj/EasyCommerceDesktop.dproj.local
proj/EasyCommerceDesktop.identcache
